{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="section courses" data-section="section4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Choose Your Course</h2>
          </div>
        </div>
        <div class="owl-carousel owl-theme">
          {% for o in obj %}
          <div class="item">
            <img src="{% static 'school_app/images/courses-01.jpg' %}" alt="Course #1">
            <div class="down-content">
              <h4>{{o.header}}</h4>
              <p>{{o.description}}</p>
              <div class="author-image">
                <img src="{% static 'school_app/images/author-01.png' %}" alt="Author 1">
              </div>
              {% if o.is_free %}
              <div class="text-button-pay">
                <a href="#">Free <i class="fa fa-angle-double-right"></i></a>
              </div>
              {% else %}
              <div class="text-button-pay">
                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
              </div>
              {% endif %}

            </div>
          </div>
          {% endfor %}
        
          
        </div>
      </div>
    </div>
  </section>

{% endblock %}
