  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="/" class="external"><em>Grad</em> School</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="/" class="external">Home</a></li>
        <li><a href="/courses/" class="external">Courses</a></li>
        <li><a href="/contact/" class="external">Contact</a></li>
        <li><a href="/presentation/" class="external">Presentation</a></li>
      </ul>
    </nav>
  </header>
